@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #ffd4c4;
  --primary: #ff9e97;
  --text-light: #ffffff;
}

.dark-theme {
  --bg-color: #52387eff;
  --primary: #c3a6ff;
  --text-light: #ffffff;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  background-image: url("assets/svg/bg.svg");
  background-position: center;
}

nav {
  width: 100%;
  padding: 25px 40px;
}

nav h5 {
  font-size: 1.5rem;
  color: white;
  text-shadow: 4px 4px 4px var(--bg-color);
  text-stroke: 1px #ffff;
  font-weight: 700;
}

.title {
  font-size: 4.5rem;
  color: white;
  text-shadow: 4px 4px 4px var(--primary);
  text-stroke: 1px #ffff;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.board {
  width: max-content;
  display: grid;
  padding: 50px 80px;
  background: white;
  border-radius: 15px;
  box-shadow: var(--primary) 2.4px 2.4px 3.2px;
  border: 1px solid var(--primary);
}

.board p {
  text-align: center;
  font-weight: 600;
  color: #414141;
  font-size: 1.2rem;
}

/* Page Home */
.btn-start {
  padding: 20px 80px;
  border-radius: 15px;
  box-shadow: rgba(255, 255, 255, 1) 2.4px 2.4px 3.2px;
  border: 1px solid #fff;
  background: var(--primary);
  cursor: pointer;
  transition: transform 0.15s ease;
  color: white;
  font-weight: 600;
}

.btn-start:active {
  transform: scale(0.85);
}

.btn-start a {
  font-size: 1rem;
}

.btn {
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 12px;
  box-shadow: var(--primary) 2.4px 2.4px 3.2px;
  border: 1px solid var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.15s ease;
}

.btn:active {
  transform: scale(0.85);
}

.btn i {
  font-size: 24px;
}

.volume {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.theme {
  position: absolute;
  right: 25px;
  top: 25px;
}

.cloud {
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 120px;
  transition: transform 0.3s ease;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.cursor-dot {
  width: 10px;
  height: 10px;
  background: var(--primary);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  opacity: 0.8;
  transform: translate(-50%, -50%);
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 10px;
}

footer p {
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  color: white;
}

/* Page Name */
.input-name {
  padding: 12px 15px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--primary);
}

.btn-next {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 10px 0;
  background: var(--primary);
  cursor: pointer;
  transition: transform 0.15s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.btn-next:active {
  transform: scale(0.85);
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 25px;
  top: 95px;
  cursor: pointer;
}

.back p {
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: 10px;
  color: white;
  text-shadow: 4px 4px 4px var(--primary);
}

/* Page Quiz */
.grid-answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  max-width: 600px;
  margin: 30px auto;
}

.btn-answer {
  position: relative;
  padding: 35px 20px 20px;
  border-radius: 15px;
  box-shadow: rgba(255, 255, 255, 1) 2.4px 2.4px 3.2px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: transform 0.15s ease;
  color: white;
  font-weight: 600;
  text-align: center;
}

.btn-answer.a {
  background: #ffd08b;
}
.btn-answer.b {
  background: #c1e4f8;
}
.btn-answer.c {
  background: #bef3af;
}
.btn-answer.d {
  background: #fbf184;
}

.btn-answer .badge {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  color: #333;
  font-weight: 700;
  padding: 6px 14px;
  border-radius: 50px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup.hidden {
  display: none;
}

.popup-box {
  background: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.popup-box h2 {
  margin-top: 15px;
}
