<nav>
    <h5>Quizez</h5>
</nav>

<!-- aset svg juga harus naik 1 folder -->
<img class="cloud" src="assets/svg/cloud.svg" alt="">

<div class="btn theme">
    <i class='bx bx-palette'></i>
</div>

<div class="btn volume">
    <i class='bx bx-volume-full'></i>
    <i class='bx bx-volume-mute'></i>
</div>

<footer>
    <p>© 2025 Diyah — crafted with ♡</p>
</footer>

<!-- audio juga harus naik 1 folder -->
<audio id="bg-music" loop>
    <source src="assets/music/pou.mp3" type="audio/mpeg">
</audio>